<div class="center-card">
  <ion-card class="align-middle">
    <ion-card-content>
      <!-- <div class="logo"> --><ion-grid [fixed]="true">
        <ion-row class="logo">
          <ion-col size="12" size-md="4">
        <picture>
          <source media="(min-width:768px)" srcset="http://localhost:3000/static/media/zolute_logo_shortwidth.a8ea07e91071dee81dea.png" width="70%">
          <img src="http://localhost:3000/static/media/zolute_group_full_width.5c72fa97d220d6c0ef1d.png" width="200px">
        </picture></ion-col>
        <!-- </div> -->
        <!-- <div class="form"> -->
          <ion-col size="12" size-md="8">
            <ion-card-header>
              <ion-card-title>Sign In</ion-card-title>
              <ion-card-subtitle class="">Please sign in to your account.</ion-card-subtitle>
            </ion-card-header>
            <form [formGroup]="loginForm"  novalidate>
            <ion-label position="stacked">Email</ion-label>  
            <ion-item lines='none'>
          <ion-input position="floating"  placeholder='Please enter your email' type="email" formControlName="email"></ion-input>
        </ion-item>
        <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Email is required.
        </span>
        <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
          Email should be in valid format.
        </span>
        <div class="signIn"><ion-button (click)="loginUser()">Sign In</ion-button></div>
      </form>
      </ion-col>
      <!-- </div> -->
    </ion-row></ion-grid>
    </ion-card-content>
  </ion-card>
</div>



