<div class="center-card">
  <ion-card class="align-middle">
    <ion-card-content>
      <ion-grid [fixed]="true">
        <ion-row class="logo">
          <ion-col size="12" size-md="4">
        <picture>
          <source media="(min-width:768px)" srcset="http://localhost:3000/static/media/zolute_logo_shortwidth.a8ea07e91071dee81dea.png" width="70%">
          <img src="http://localhost:3000/static/media/zolute_group_full_width.5c72fa97d220d6c0ef1d.png" width="200px">
        </picture></ion-col>
          <ion-col size="12" size-md="8">
            <ion-card-header>
              <ion-card-title>Verify Email</ion-card-title>
              <ion-card-subtitle class="">Please enter the otp that was sent on your email.</ion-card-subtitle>
            </ion-card-header>
            <ion-label position="stacked">Enter OTP</ion-label>  
            
              <ion-row class="otp">
                <ion-col>
                 <ion-input class="x" #otp1 required="true" maxLength="1" [(ngModel)] ="OTP[0]" (keyup)="otpController($event,otp2,'',1)">
                 </ion-input>
                 <ion-input class="x" #otp2 required="true" maxLength="1" [(ngModel)]="OTP[1]" (keyup)="otpController($event,otp3,otp1,2)">
                 </ion-input>
                 <ion-input class="x" #otp3 required="true" maxLength="1" [(ngModel)]="OTP[2]"  (keyup)="otpController($event,otp4,otp2,3)">
                 </ion-input>
            
                 <ion-input class="x" #otp4 required="true" maxLength="1" [(ngModel)]="OTP[3]"  (keyup)="otpController($event,otp5,otp3,6)">
                </ion-input>
            
                <ion-input class="x" #otp5  required="true" maxLength="1" [(ngModel)]="OTP[4]" (keyup)="otpController($event,otp6,otp4,5)">
                </ion-input>
            
                <ion-input class="x" #otp6  required="true" maxLength="1" [(ngModel)]="OTP[5]" (keyup)="otpController($event,'',otp5,6)">
                </ion-input>
            
                </ion-col>
              </ion-row>
        <div class="signIn"><ion-button >Submit</ion-button></div>
      </ion-col>
    </ion-row></ion-grid>
    </ion-card-content>
  </ion-card>
</div>