.x{
    display:inline-block;
    width:40px;
    height:40px;
    margin:5px;
    border-radius: 15%;
    --background:#e1e1e1;
    --padding-start:0;
    text-align: center;
}
.otp {
    ion-col{
        margin-left: -5px;
        padding-left: 0;
   
}}